# Dependencies
node_modules/

# Next.js
.next/
.turbo/
.vercel/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# System
.DS_Store

# Coverage
coverage/

# Uploads (keep .gitkeep)
public/uploads/*
!public/uploads/.gitkeep

